@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
  overflow-x: hidden;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Toàn bộ ứng dụng */
.page-layout {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

/* Nội dung chính giống GreatStack */
.app {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  flex: 1;
}

/* Fade animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Tablet */
@media (max-width: 1050px) {
  .app {
    width: 90%;
  }
}

/* Mobile */
@media (max-width: 750px) {
  .app {
    width: 94%;
  }
}